.primary {
	color: #fff;
	background-color: var(--secondaryColor) !important;
	padding: 12px 28px;
	border: 2px solid var(--secondaryColor);
	box-shadow: 0 0 10px 2px #0000004b;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}

.primary:hover {
	background-color: var(--secondaryColorHover) !important;
	border-color: var(--secondaryColorHover);
}

.secondary {
	background-color: transparent;
	border: 2px solid var(--secondaryColor);
	padding: 12px 28px;
	box-shadow: 0 0 10px 2px #0000004b;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}

.secondary:hover {
	color: #fff;
	background-color: var(--secondaryColor);
}
