.div-container__description {
	display: flex;
	margin: auto;
	margin-top: 200px;
	flex-direction: row;
	justify-content: center;
	width: 1216px;
	height: 336px;
	gap: 6rem;
}
.div-container__titulo {
	width: 612px;
}

.div-container__img {
	width: 612px;
	height: 336px;
}
