.container-carrusel {
	margin: 0 0 0 3rem;
	overflow-x: hidden;
	width: 100vw;
}
.carrusel {
	margin: 1rem 0 1rem 1rem;
	display: flex;
	gap: 3rem;
	cursor: grab;
}

.item img {
	pointer-events: none;
}
