.container-carrusel {
	margin: 0 auto;
	overflow-x: hidden;
	max-width: 1218px;
	height: 350px;
}
.carrusel {
	display: flex;
	cursor: grab;
}
.item {
	height: 300px;
	min-width: 372px;
	padding: 2rem;
}
.item img {
	object-fit: cover;
	aspect-ratio: 1/1;
	overflow: hidden;
	pointer-events: none;
	border-radius: 15px;
}
