.testimonial-card {
	width: 345px;
	height: 400px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: 0 0 10px 2px #0000004b;
	border: 2px solid var(--primaryColor);
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.testimonial-card-img {
	object-fit: cover;
	aspect-ratio: 1/1;
	overflow: hidden;
}

.testimonial-card-content {
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding: 1.5rem;
	background-color: #fff;
}
